{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col s6">
    <h3>{{ teacher.first_name }}'s Lessons</h3>
    {% for photo in teacher.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% endfor %}
    <p>Bio: {{ teacher.bio }}</p>
    <p>Location: {{ teacher.location }}</p>
    <p>Contact: <a href="mailto:{{ teacher.user }}">{{ teacher.user }}</a></p>

{% if user.is_authenticated and user.id == teacher.id %}
  <p><a href="{% url 'teachers_update' teacher.id %}">Update Profile</a></p>
  <form action="{% url 'add_photo' teacher.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
    </form>
{% endif %}
  
{% if user.is_authenticated %}
  <form action="{% url 'add_lesson' teacher.id %}" method="POST">
    {% csrf_token %}
    {{ lesson_form.as_p }}
    <input type="submit" value="Add Lesson" class="btn">
  </form>

  <table class="striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Instrument</th>
        <th>Description</th>
      </tr>
    </thead>
  <tbody>

{% for lesson in teacher.lesson_set.all %}
  <tr>
    <td>{{lesson.date}}</td>
    <td>{{lesson.time}}</td>
    <td>{{lesson.instrument}}</td>
    <td>{{lesson.description}}</td>
    <td><a href="{% url 'lessons_update' lesson.id %}">Edit</a></td>
    <td><a href="{% url 'lessons_delete' lesson.id %}">Delete</a></td>
  </tr>
{% endfor %}
    </tbody>
    </table>
  </div>
</div>
<p>
  {% else %}
  <a href="{% url 'signup' %}"><button>Book A Lesson</button></a>
</p>
{% endif %}

{% endblock %}