{% extends 'base.html' %}
{% block content %}

<h1>Our Instructors</h1>

{% for teacher in teachers %}
{% if teacher.is_teacher == True %}
  <div class="card">
    <a href="{% url 'detail' teacher.id %}">
    <div class="card-content">
      <span class="card-title">{{ teacher.name }}</span>
      <h4> {{ teacher.first_name }} {{ teacher.last_name }}</h4>
      <p>Bio: {{ teacher.bio }}</p>
      <p>Location: {{ teacher.location }}</p>
    </a>
    </div>
  </div>

  {% endif %}
  
{% endfor %}

{% endblock %}
