{% extends 'base.html' %}
{% block content %}

<main id="sign-up">
  
  <h1>Sign Up</h1>
  
  <form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <label>
      <input type="checkbox" name="is_teacher"><span>Are You a Teacher?</span>
    </label>
    <input type="text" placeholder="First Name" name="first_name" required>
    <input type="text" placeholder="Last Name" name="last_name" required>
    <input type="email" placeholder="Email" name="username" required>
    <input type="text" placeholder="Location" name="location">
    <input type="text" placeholder="Bio" name="bio">
    <input type="password" placeholder="Password" name="password1" required>
    <input type="password" placeholder="Verify Password" name="password2" required>
    <a href="/"><input type="button" value="Cancel"></a>
    <button type="submit">Sign Up</button>
  </form>

</main>
  
{% endblock %}
