{% extends 'base.html' %}
{% block content %}

<section class="form" id="signup">

  <h1>Sign Up</h1>
  <div class="form">
    <form action="{% url 'signup' %}" method="post">
      {% csrf_token %}
        <input type="text" placeholder="Enter First Name" name="first_name" required>
        <input type="text" placeholder="Enter Last Name" name="last_name" required>
        <input type="email" placeholder="Enter Email" name="username" required>
        <input type="text" placeholder="Enter Location" name="location">
        <input type="text" placeholder="Enter Bio" name="bio">
        <input type="password" placeholder="Enter Password" name="password1" required>
        <input type="password" placeholder="Repeat Password" name="password2" required>
        <div class="teacher-check">
          <input type="checkbox" name="is_teacher">
          <span>Are You a Teacher?</span>
        </div>
        <div class="button-bar">
          <button type="submit">Sign Up</button>
          <button type="reset">Cancel</button>
        </div>
    </form>

</section>

{% endblock %}
