/* Universal */

@import url("https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Varela&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

:root {
  scroll-behavior: smooth;
  /* Colors */
  --bgc-01: #43455c;
  --bgc-02: #3c3f58;
  --bgc-03: #707793;
  --bgc-04: whitesmoke;
  --txt-01: #3bba9c;
  --txt-02: #707793;
  /* Fonts */
  --fnt-01: "Jura";
  --fnt-02: "Varela";
}

/* Media queries */

/* Universal element rules */

body {
  font-family: var(--fnt-02), "Roboto", "Ubuntu", sans-serif;
  line-height: 1.618;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  user-select: none;
  -webkit-user-drag: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #3c3f58 inset !important;
    -webkit-text-fill-color: #707793;
    font-family: var(--fnt-02), "Roboto", "Ubuntu", sans-serif;
}

a {
  color: var(--txt-02);
  font-family: var(--fnt-02);
  text-decoration: none;
  -webkit-user-drag: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fnt-01);
  color: var(--txt-01);
}

#about-html {
  text-align: center;
}

h1 {
  font-size: 6vmin;
  padding: 2vmin;
  text-align: center;
}

img {
  max-width: 100%;
  -webkit-user-drag: none;
}

li {
  list-style: none;
}

/* base.html */

header {
  background-color: var(--bgc-01);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

div#top-nav {
  border-bottom: 1vmin;
}

div#left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2vmin;
}

img#nav-logo {
  width: 4rem;
}

ul#right-nav {
  display: flex;
  justify-content: space-around;
}

main.container {
  background-color: var(--bgc-02);
  font-family: var(--fnt-02);
  min-height: 80vh;
}

footer {
  background-color: var(--bgc-01);
  min-height: 10vh;
  color: var(--txt-01);
  font-family: var(--fnt-02);
}

/* Sign Up */
.signup-btn {
  display: flex;
  justify-content: center;
}
/* section#signup {
} */

/* Login */

/* 
section#login {
} */

/* Teacher index */

/* section#index{
} */

div.teacher-card {
  padding: 3vmin;
  border: 2px solid var(--bgc-03);
  border-radius: 4vmin;
  margin: 2vmin;
}

/* div.teacher-content {
}

span.card-title {
} */

/* Teacher detail */

/* section#detail {
} */

/* Forms */

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 4vmin;
}

div.form {
  text-align: center;
}

label {
  text-align: left;
  padding: 2vmin;
}

form > input,
div.teacher-check {
  background-color: transparent;
  color: var(--bgc-03);
  margin: 4vmin;
  outline: none;
  border-bottom: 2px solid var(--bgc-03);
}

::placeholder {
  font-family: var(--fnt-02);
  font-size: larger;
  color: var(--bgc-03);
}

div.teacher-check {
  border: none;
}

div.button-bar {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: var(--bgc-03);
  max-width: 30vmin;
  font-family: var(--txt-01);
  font-size: 1.5rem;
  padding: 2vmin 1vmin;
  border-radius: 2vmin;
  outline: none;
}

button:hover {
  background-color: #3bba9c;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* 
section#lesson-delete {
}

section#lesson-edit {
}

section#profile-edit {
} */
